{% extends "workflow/viewport-element.html" %}
{% load staticfiles %}

{% load bootstrap3 %}


{% block extrahead %}
    <!-- DataTables CSS -->
    <link href="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}"
          rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static "bower_components/datatables-responsive/css/dataTables.responsive.css" %}" rel="stylesheet">
{% endblock extrahead %}

{% block content %}
{% if unavailable %}
<h1>Select a software config to deploy OPNFV on and an installer before continuing with this step</h1>
{% else %}

{% if error %}
    <h1 style="text-align:center;">{{ error }}</h1>
{% else %}
    <form style="width: 90%; margin: 5%;" method="post" action="" class="form" id="softwaredefinitionform">
        {% csrf_token %}

    <div class="row">
        <div class="col-lg-12">
                    <div class="dataTables_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="table" cellspacing="0"
                               width="100%">

                            {% block table %}
                                <thead>
                                    <tr>
                                        <th>Device</th>
                                        <th>Role</th>
										{% if not hide_image_column %}
                                        <th>Image</th>
										{% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                            {% for form in formset %}
                                <tr>
                                {% for field in form %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                            {{formset.management_form}}

                            {% endblock table %}

                        </table>
                    </div>
                    <!-- /.table-responsive -->
                <!-- /.panel-body -->
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    </form>
{% endif %}
{% endif %}
{% endblock content %}

{% block extrajs %}
    {{ block.super }}
    <!-- DataTables JavaScript -->

    <script src={% static "bower_components/datatables/media/js/jquery.dataTables.min.js" %}></script>
    <script src={% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}></script>

    <script src={% static "js/dataTables-sort.js" %}></script>

    {% block tablejs %}
    {% endblock tablejs %}
{% endblock extrajs %}


{% block onleave %}
var form = $("#softwaredefinitionform");
var formData = form.serialize();
var req = new XMLHttpRequest();
req.open("POST", "/wf/workflow/", false);
req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
req.onerror = function() { alert("problem with form submission"); }
req.send(formData);
{% endblock %}
